In [1]:
#Import Pandas
import pandas as pd

In [2]:
#get the file
oct19_df = "data/201910-citibike-tripdata.csv"
nov19_df = "data/201911-citibike-tripdata.csv"
dec19_df = "data/201912-citibike-tripdata.csv"
jan20_df = "data/202001-citibike-tripdata.csv"

In [3]:
#read the data file
df_oct19 = pd.read_csv(oct19_df)
df_nov19 = pd.read_csv(nov19_df)
df_dec19 = pd.read_csv(dec19_df)
df_jan20 = pd.read_csv(jan20_df)

In [4]:
#combine citibike dataframe
frames1 = [df_oct19, df_nov19, df_dec19, df_jan20]

In [5]:
citibike19 = pd.concat(frames1)

In [6]:
citibike19.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1

In [7]:
citibike19["starttime"] = pd.to_datetime(citibike19["starttime"])

In [8]:
citibike19["date"] = citibike19["starttime"].dt.date

In [9]:
citibike_by_date19 = citibike19.groupby([citibike19['date'],citibike19['start station latitude'],citibike19['start station longitude']]).starttime.count()

In [10]:
citibike_by_date19 = pd.DataFrame(citibike_by_date19).reset_index()

In [11]:
citibike_by_date19 = citibike_by_date19.rename(columns={"date": "date","start station latitude": "lat","start station longitude": "lon","starttime": "no_of_trip"})

In [13]:
citibike_by_date19.head()

         date        lat        lon  no_of_trip
0  2019-10-01  40.655400 -74.010628           8
1  2019-10-01  40.657089 -74.008702          16
2  2019-10-01  40.661063 -73.979453          45
3  2019-10-01  40.662706 -73.956912           7
4  2019-10-01  40.663062 -73.953875          22

In [15]:
citibike_by_date19.to_csv('data\historical.csv')